<div class="container-fluid bg-light py-3">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card card-body">
        <h3 class="text-center mb-4">Reset Password</h3>
        <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
          <fieldset>

            <div class="form-group has-error">
              <input class="form-control input-lg" placeholder="password" formControlName="password" name="password"
                type="password">
              <div *ngIf="form.controls.password.invalid && form.controls.password.touched" class="alert alert-danger">
                Password is required.
              </div>
            </div>
            <div class="form-group has-error">
              <input class="form-control input-lg" placeholder="confirmPassword" formControlName="confirmPassword"
                name="confirmPassword" type="password">
              <div *ngIf="form.controls.confirmPassword.invalid && form.controls.confirmPassword.touched"
                class="alert alert-danger">
                Password is required.
              </div>
            </div>
            <input class="btn btn-lg btn-primary btn-block" [disabled]="!form.valid" value="Forgot Password"
              type="submit">
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>